
/* vedio section */
.video {
	width: 100%;
}
.video > video {
	width: 100%;
}

/* title_action */
.title_action {
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.title_action .title_btn {
	display: flex;
	align-items: center;
	margin: .25em .5em;
}
.title_action .view_action {
	width: 100%;
}
.view_action .view {
	font-size: .5em;
	color: #666;
	margin: 0 1em;
}
.view_action .action_wrap {
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	color: var(--mob-background-color);
}
.view_action .action_wrap .action {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.view_action .action_wrap .action > span {
	font-size: .5em;
	font-weight: bold;
}
.view_action .action_wrap .action > i:hover {
	color: var(--login-btn-color);
}

/* sub_info section */
.sub_info {
	margin-top: .325em;
}
.sub_info .info {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--border-color);
	padding-left: .325em;
	padding-bottom: .325em;
}
.info .sub_wrap {
	display: flex;
	flex-direction: column;
	margin-left: .325em;
	margin-right: auto;
}
.info .sub_wrap .name {
	font-size: .75em;
	font-weight: bold;
}
.info .sub_wrap .sub_count {
	font-size: .5em;
}
.info .img_wrap {
	width: 30px;
	height: 30px;
}
.info .img_wrap img {
	width: 100%;
	border-radius: 50%;
}

.info .sub_check {
	color: var(--sub-text-color);
	font-weight: bold;
	font-size: .75em;
	margin-right: .5em;
}
.info i {
	margin-right: .5em;
}
.commentAndinput {
	padding-left: .325em;
	border-bottom: 1px solid var(--border-color);
}
.commentAndinput .comment_countAndview {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: .5em;
	margin: 1em 0;
}
.comment_countAndview i {
	padding: 0 .5em;
}
.commentAndinput .comment_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: .5em;
}
.comment_wrap .comment_profile {
	width: 30px;
	height: 30px;
	margin-right: .5em;
	flex-grow: 0;
}
.comment_wrap .comment_profile img {
	width: 100%;
	border-radius: 50%;
}
.comment_wrap .comment {
	padding: 0 .325em;
	flex-grow: 1;
}
.comment_wrap .comment_submit {
	margin: 0 .5em;
	padding: .1em .5em;
	flex-grow: 0;
	border: none;
	background-color: var(--border-color);
}

/* next video section */
.next {
	padding: .325em .5em;
}
.next .next_video {
	font-size: .875em;
}
.next .video_list {
	margin-top: .5em;
}
.next .item .thumbnaill_wrap {
	width: 98%;
	margin: 0 auto;
}
.next .item .thumbnaill_wrap .thumbnaill {
	width: 100%;
}
.item .list_info {
	display: flex;
}
.item .list_info .img_wrap{
	width: 40px;
	height: 40px;
	padding: .325em;
}
.item .list_info .profile_photo {
	width: 100%;
	border-radius: 50%;
}
.list_info .title_wrap {
	display: flex;
	flex-direction: column;
	margin-right: auto;
	margin-left: .5em;
}
.list_info .title_wrap .title {
	font-weight: bold;
}
.list_info .title_wrap .nameAndview {
	font-size: .875em;
	color: #666;
}
.list_info i {
	padding: .5em .875em .5em .5em;
}